
.home() {
    .home{
        display: flex;
        &-content{
            flex: 1;
        }
        &-side{
            width: 30%;
            padding-left: 15px;
            .online{
                div{
                    line-height: 2;
                    font-size: 12px;
                }
            }
        }
    }
    
    @media (max-width: @mediaWidth) {
        .home-side{
            display: none;
        }
    }
}