
.write() {
    .write{
        display: flex;
        .mb0{
            margin-bottom: 0;
        }
        &-search{
            padding: 5px 8px;
            border-bottom: 1px solid @borderColor;
            font-size: 12px;
        }
        &__side{
            width: 30%;
            padding-right: 15px;
            .fixed{
                position: sticky;
                top: 65px;
            }
            .write-list,
            .cate-list,
            .article-list{
                overflow-y: auto;
                overflow-x: hidden;
                position: relative;
                .fixed{
                    position: sticky;
                    top: 0;
                    z-index: 200;
                    background: @boxBgColor;
                }
            }
            .write-list{
                ul{
                    margin-bottom: 10px;
                    li{
                        padding: 15px 0 15px 10px;
                        border-bottom: 1px solid @borderColor;
                        cursor: pointer;
                        color: @fontMainColor;
                        position: relative;
                        &::before{
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 0px;
                            height: 100%;
                            background: @formBgColor;
                            transition: all 0.3s;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 0;
                            height: 100%;
                            background: @fontHoverColor;
                            transition: all 0.4s;
                        }
                        &.active{
                            .tit{
                                color: @fontHoverColor;
                            }
                            &::before{
                                width: 100%;
                            }
                            &::after{
                                width: 3px;
                            }
                        }
                        .li{
                            display: flex;
                            align-items:center; /*垂直居中*/
                            position: relative;
                            z-index: 2;
                            .tit{
                                flex: 1;
                                min-height: 14px;
                                line-height: 1.5;
                                vertical-align: middle;
                                transition: all 0.3s;
                                .ovf-1();
                                i{
                                    color: @fontColor;
                                    font-size: 12px;
                                    opacity: 0.7;
                                    &.publish{
                                        color: @fontHoverColor;
                                        opacity: 1;
                                    }
                                }
                            }
                            .menu{
                                i{
                                    transition: all 0.3s;
                                    color: @fontMainColor;
                                    padding: 10px;
                                    &:hover{
                                        color: @fontHoverColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .cate-list{
                &__title{
                    padding: 8px 15px;
                    font-size: 12px;
                    background: @formBgColor;
                    position: sticky;
                    top: 0;
                    z-index: 200;
                    :first-child{
                        border-top-width: 0;
                    }
                }
                &__content{
                    padding-left: 25px;
                    margin-bottom: 10px;
                    li{
                        position: relative;
                        cursor: pointer;
                        color: @fontMainColor;
                        border-bottom: 1px solid @borderColor;
                        display: flex;
                        align-items:center; /*垂直居中*/
                        position: relative;
                        z-index: 2;
                        .tit{
                            flex: 1;
                            min-height: 14px;
                            line-height: 1.5;
                            padding: 12px 0;
                            vertical-align: middle;
                            transition: all 0.3s;
                            .ovf-1();
                            i{
                                color: @fontMainColor;
                                font-size: 14px;
                            }
                        }
                        .menu{
                            // opacity: 0;
                            // transition: all 0.3s;
                            i{
                                transition: all 0.3s;
                                color: @fontMainColor;
                                padding: 10px;
                                &:hover{
                                    color: @fontHoverColor;
                                }
                            }
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            height: 0px;
                            width: 0px;
                            border-radius: 6px;
                            background: @fontHoverColor;
                            transition: all 0.3s;
                        }
                        &.active{
                            .tit{
                                color: @fontHoverColor !important;
                            }
                            i{
                                &.cate{
                                    color: @fontHoverColor !important;
                                }
                            }
                            // &::before{
                            //     left: -10px;
                            //     width: 4px;
                            //     height: 4px;
                            //     margin-top: -2px;
                            // }
                        }
                    }
                }
            }
            
        }
        &__content{
            flex: 1;
            width: 70%;
            position: relative;
            .toggle-btn{
                position: absolute;
                left: -12px;
                top: 50%;
                width: 12px;
                height: 40px;
                line-height: 40px;
                margin-top: -20px;
                background: @boxBgColor;
                border-radius: 4px 0 0 4px;
                text-align: center;
                cursor: pointer;
                &.active{
                    i{
                        color: @fontHoverColor;
                    }
                }
                i{
                    font-size: 12px;
                    color: @fontColor;
                }
            }
        }
        &__header{
            display: flex;
            align-items:center; /*垂直居中*/
            &-input{
                flex: 1;
                input{
                    border-width: 0;
                    width: 100%;
                    padding: 12px 15px;
                    font-size: 24px;
                    color: @fontMainColor;
                    background: @boxBgColor;
                    border-radius: 10px 10px 0 0;
                }
            }
            &-menu{
                display: flex;
                align-items:center; /*垂直居中*/
                text-align: right;
                font-size: 0;
                .label{
                    margin-right: 8px;
                    font-size: 12px;
                }
                .el-button{
                    margin: 0;
                    margin-right: 10px;
                    font-size: 12px;
                }
                i{
                    font-size: 13px;
                }
                .more{
                    margin-right: 10px;
                    padding: 7px 2px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:hover{
                        background: @formBgColor;
                    }
                    i{
                        font-size: 16px;
                    }
                }
            }
        }
        .article-empty{
            display:flex;
            align-items:center; /*垂直居中*/
            justify-content: center; /*水平居中*/
            div{
                text-align: center;
                margin: 15px 0;
            }
            .i{
                .icon{
                    font-size: 50px;
                }
            }
            i{
                font-size: 12px;
                color: @fontColor;
            }
            .tit{
                font-size: 12px;
            }
        }
        .pre-view{
            width: 100%;
        }
    }
    
    .mt15{
        margin-top: 15px !important;
    }
    .algin-right{
        text-align: right;
    }
    .publish-title{
        font-size: 12px;
        vertical-align: middle;
    }

    // 更改分组
    .change-article-cate{
        li{
            border: 2px solid @formBgColor;
            background: @formBgColor;
            position: relative;
            padding: 8px 10px;
            margin-top: 10px;
            cursor: pointer;
            transition: all 0.3s;
            &::before{
                position: absolute;
                right: 15px;
                top: 0px;
                padding-top: 10px;
                font-size: 12px;
                color: @fontColor;
            }
            &:first-child{
                margin-top: 0;
            }
            &.default{
                &::before{
                    content: '默认';
                }
            }
            &.active{
                &::before{
                    content: '已选择';
                    color: @fontHoverColor;
                }
            }
            i{
                position: absolute;
                top: 0;
                right: 0;
                opacity: 0;
                z-index: 1;
                line-height: 1;
            }
            &:hover{
                border-color: @fontHoverColor;
            }
            &.active{
                border-color: @fontHoverColor;
                color: @fontHoverColor;
                i{
                    opacity: 1;
                }
            }
        }
    }
    
    @media (max-width: @mediaWidth) {
        .write{
            width: 98%;
            margin: 0 auto;
            &__header{
                position: fixed;
                top: 0px;
                .label{
                    font-size: 12px;
                }
            }
        }
    }
}