
.articleItem(){
    .article{
        &__item{
            position: relative;
            padding: 15px;
            background: @boxBgColor;
            .borderTop(@borderColor);
            &.has-img{
                padding-right: 200px;
                .article-list__item-img{
                    display: block;
                }
            }
            &-menu{
                position: absolute;
                top: 5px;
                right: 0;
                font-size: 0;
                button{
                    display: inline-block;
                    padding: 5px 10px;
                    border: 1px solid @borderColor;
                    font-size: 14px;
                    margin-right: 10px;
                    cursor: pointer;
                    transition: all 0.3s;
                    border-radius: 20px;
                    background: transparent;
                    color: @fontSubColor;
                    &:hover,
                    &.active{
                        color: @fontActiveColor;
                    }
                    &[disabled]{
                        cursor: not-allowed;
                        color: @fontColor;
                    }
                }
            }
            &-header{
                font-size: 12px;
                padding-bottom: 6px;
                display: flex;
                align-items:center; /*垂直居中*/
                .name{
                    max-width: 160px;
                    color: @fontSubColor;
                    font-size: 14px;
                    padding: 0 10px;
                    line-height: 1.5;
                    .ovf-1();
                }
                .img{
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    background-color: @imgBgColor;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .time{
                    flex: 1;
                }
                .article-top{
                    color: @fontActiveColor;
                }
                .menu{
                    cursor: pointer;
                    &:hover{
                        color: @fontSubColor;
                    }
                }
            }
            &-title{
                span{
                    cursor: pointer;
                    font-size: 16px;
                    line-height: 1.5;
                    color: @fontMainColor;
                    transition: all 0.3s;
                    &:hover{
                        color: @fontHoverColor;
                    }
                }
            }
            &-action{
                font-size: 0;
                margin-top: 8px;
                span{
                    margin-right: 20px;
                    display: inline-block;
                    font-size: 12px;
                    i{
                        font-size: 12px;
                    }
                }
            }
            &-img{
                display: none;
                position: absolute;
                top: 20px;
                right: 20px;
                width: 160px;
                height: 100px;
                overflow: hidden;
                text-align: center;
                background: @imgBgColor;
                img{
                    height: 100px;
                }
            }
        }
    }
}