
.quill-editor(){
    .quill-editor{
        position: relative;
        z-index: 1;
    }
    .ql-snow .ql-editor blockquote{
        margin-bottom: 15px !important;
    }
    .ql-snow .ql-picker{
        line-height: 24px !important;
    }
    .ql-editor ol, .ql-editor ul{
        padding-left: 0;
    }
    .ql-toolbar.ql-snow{
        padding: 0 !important;
    }
    .ql-toolbar.ql-snow .ql-formats{
        margin-right: 7px !important;
        background: @formBgColor;
        border-radius: 4px;
        button{
            position: relative;
            &::before{
                position: absolute;
                content: "";
                left: 0;
                top: 0%;
                height: 100%;
                width: 1px;
                background: @boxBgColor;
            }
            &:first-child{
                &::before{
                    width: 0;
                }
            }
        }
    }
    .ql-container.ql-snow{
        border-width: 0 !important;
    }
    .ql-toolbar.ql-snow{
        border-color: @borderColor !important;
        border-width: 0 !important;
        border-bottom-width: 1px !important;
        border-top-width: 1px !important;
        padding: 7px !important;
    }
    .ql-editor.ql-blank::before{
        font-style: normal !important;
    }
    
    .ql-editor.ql-blank::before{
        color: @formPalceholderColor;
    }
    
    // 编辑器按钮颜色
    .ql-snow .ql-stroke {
        stroke: @fontSubColor;
    }
    .ql-snow .ql-stroke-miter {
        stroke: @fontSubColor;
    }
    .ql-snow .ql-fill,
    .ql-snow .ql-stroke.ql-fill {
        fill: @fontSubColor;
    }

    .ql-editor{
        .detail(
            @fontMainColor,
            @borderColor,
            @formBgColor,
            @fontActiveColor,
            @preBg
        );
    }
}

// 样式自定义，保持编辑器可页面浏览一致
.detail(
    @fontMainColor,
    @borderColor,
    @formBgColor,
    @fontActiveColor,
    @preBg
) {
    font-size: 15px;
    color: @fontMainColor;
    line-height: 2 !important;

    // 对齐
    .ql-align{
        &-justify{
            text-align: justify;
        }
        &-right{
            text-align: right;
        }
        &-center{
            text-align: center;
        }
    }

    // 缩进
    .ql-indent{
        &-1:not(.ql-direction-rtl){
            padding-left: 2em;
        }
        &-2:not(.ql-direction-rtl){
            padding-left: 4rem;
        }
        &-3:not(.ql-direction-rtl){
            padding-left: 6rem;
        }
        &-4:not(.ql-direction-rtl){
            padding-left: 8rem;
        }
        &-5:not(.ql-direction-rtl){
            padding-left: 10rem;
        }
        &-6:not(.ql-direction-rtl){
            padding-left: 12rem;
        }
        &-7:not(.ql-direction-rtl){
            padding-left: 14rem;
        }
        &-8:not(.ql-direction-rtl){
            padding-left: 16rem;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    li,
    blockquote,
    img,
    p,
    pre{
        margin-bottom: 15px !important;
    }

    img{
        max-width: 100% !important;
    }

    // iframe{
    //     width: 100% !important;
    //     height: 360px !important;
    //     margin: 0 auto !important;
    // }

    h1{
        font-size: 18px;
        padding-bottom: 15px;
        border-bottom: 1px solid @borderColor;
    }

    blockquote{
        border-left: 4px solid @formFocusBgColor !important;
        padding: 15px !important;
        background: @formBgColor !important;
    }

    pre{
        color: #eee;
        background: @preBg !important;
        font-size: 14px !important;
        border-radius: 4px !important;
        padding: 15px !important;
    }

    ul,
    ol{
        padding-left: 1.5em;
        li{
            padding-left: 0;
            &::before {
                margin-left: -1.5em;
                margin-right: .3em;
                text-align: right;
                display: inline-block;
                white-space: nowrap;
                width: 2em;
            }
        }
    }

    // ul
    ul>li::before {
        content: '\2022';
    }

    // ol
    ol li {
        counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
        counter-increment: list-0;
        &:before {
            content: counter(list-0,decimal) '. ';
        }
        &.ql-indent-1 {
            counter-increment: list-1;
        }
        &.ql-indent-1:before {
            content: counter(list-1,lower-alpha) '. ';
        }
        &.ql-indent-1 {
            counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
        }
        &.ql-indent-2 {
            counter-increment: list-2;
        }
        &.ql-indent-2:before {
            content: counter(list-2,lower-roman) '. ';
        }
        &.ql-indent-2 {
            counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
        }
        &.ql-indent-3 {
            counter-increment: list-3;
        }
        &.ql-indent-3:before {
            content: counter(list-3,decimal) '. ';
        }
        &.ql-indent-3 {
            counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
        }
        &.ql-indent-4 {
            counter-increment: list-4;
        }
        &.ql-indent-4:before {
            content: counter(list-4,lower-alpha) '. '
        }
        &.ql-indent-4 {
            counter-reset: list-5 list-6 list-7 list-8 list-9
        }
        &.ql-indent-5 {
            counter-increment: list-5
        }
        &.ql-indent-5:before {
            content: counter(list-5,lower-roman) '. '
        }
        &.ql-indent-5 {
            counter-reset: list-6 list-7 list-8 list-9
        }
        &.ql-indent-6 {
            counter-increment: list-6
        }
        &.ql-indent-6:before {
            content: counter(list-6,decimal) '. '
        }
        &.ql-indent-6 {
            counter-reset: list-7 list-8 list-9
        }
        &.ql-indent-7 {
            counter-increment: list-7
        }
        &.ql-indent-7:before {
            content: counter(list-7,lower-alpha) '. '
        }
        &.ql-indent-7 {
            counter-reset: list-8 list-9
        }
        &.ql-indent-8 {
            counter-increment: list-8
        }
        &.ql-indent-8:before {
            content: counter(list-8,lower-roman) '. '
        }
        &.ql-indent-8 {
            counter-reset: list-9
        }
        &.ql-indent-9 {
            counter-increment: list-9
        }
        &.ql-indent-9:before {
            content: counter(list-9,decimal) '. '
        }
    }

    a{
        color: @fontActiveColor !important;
        &:hover{
            text-decoration: underline !important;
        }
    }
}