.search-box() {
    .search-box{
        font-size: 0;
        .el-input__inner{
            background: @boxBgColor !important;
            border-radius: 50px !important;
        }
    }

}