.tab(){
    .tab{
        padding: 0 5px;
        border-bottom: 1px solid @borderColor;
        font-size: 0;
        span{
            display: inline-block;
            padding: 15px;
            color: @fontSubColor;
            cursor: pointer;
            transition: all 0.3s;
            position: relative;
            font-size: 14px;
            // 分割线
            &.divided{
                margin-right: 21px;
                &::before{
                    content: "";
                    position: absolute;
                    right: -11px;
                    top: 35%;
                    width: 1px;
                    height: 30%;
                    background: @borderColor;
                    z-index: 10;
                }
            }
            &::after{
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0px;
                width: 0px;
                height: 0px;
                border-radius: 2px;
                background: @fontActiveColor;
                transition: all 0.3s;
                z-index: 10;
            }
            &.active::after{
                bottom: 0px;
                height: 3px;
                width: 12px;
                margin-left: -6px;
            }
            &.active,
            &:hover{
                color: @fontActiveColor;
            }
        }
        &.mini{
            padding: 0 10px;
            span{
                padding: 12px 0;
                margin-right: 15px;
                font-size: 12px;
                &.active::after{
                    height: 1px;
                    bottom: -1px;
                    left: 0;
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
}