
.topic-recommend(
    @imgBgColor,
    @fontMainColor,
    @fontActiveColor
){
    .special-topic{
        display: flex;
        align-items:center;
        margin-top: 15px;
        cursor: pointer;
        &:first-child{
            margin-top: 0px;
        }
        .img{
            width: 60px;
            height: 40px;
            border-radius: 20px;
            background-color: @imgBgColor;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .content{
            flex: 1;
            padding-left: 10px;
            .title{
                transition: all 0.3s;
                color: @fontMainColor;
                .ovf-num(1);
            }
            .description{
                font-size: 12px;
                margin-top: 7px;
            }
        }
        // hover
        &:hover{
            .content .title{
                color: @fontActiveColor;
            }
        }
    }
}