
.user-avatar() {
    .user-avatar{
        margin-top: 119px !important;
        background: @boxBgColor url('../../../../static/img/zone_banner.png') no-repeat bottom;
        padding: 10px;
        position: relative;
        border-radius: 10px;
        .el-avatar{
            position: absolute;
            left: 50%;
            top: -46px;
            z-index: 1;
            margin-left: -53px;
            border: 5px solid @boxBgColor;
            i{
                font-size: 40px;
            }
        }
        .content{
            position: relative;
            padding: 10px;
            padding-top: 60px;
            background-size: cover;
            .header{
                text-align: center;
                padding: 0 20px;
                .name{
                    font-size: 16px;
                    font-weight: bold;
                    color: @fontMainColor;
                    .ovf-1();
                }
                .brief{
                    font-size: 12px;
                    line-height: 1.5;
                    margin-top: 12px;
                    .ovf-num();
                }
                .time{
                    font-size: 12px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
            }
            .menu{
                position: absolute;
                top: 0px;
                right: 0px;
                span{
                    margin-left: 10px;
                    cursor: pointer;
                    display: inline-block;
                    border: 1px solid @borderColor;
                    color: @fontActiveColor;
                    padding: 8px;
                    border-radius: 20px;
                    text-align: center;
                    font-size: 12px;
                    transition: all 0.3s;
                    &:hover{
                        border-color: @fontActiveColor;
                    }
                    i{
                        font-style: normal;
                    }
                    &.default{
                        border-color: @borderColor;
                        &:hover{
                            color: @fontActiveColor;
                            border-color: @fontActiveColor;
                        }
                    }
                    &.active{
                        border-color: @fontActiveColor;
                        background: @fontActiveColor;
                        color: #fff;
                    }
                }
            }
            .nav{
                width: 70%;
                margin: 0 auto;
                display: flex;
                > div{
                    flex: 1;
                    color: @fontSubColor;
                    text-align: center;
                    position: relative;
                    > div{
                        display: inline-block;
                        padding: 6px 15px;
                        background: @formHoverBgColor;
                        border-radius: 20px;
                        transition: all 0.3s;
                        cursor: pointer;
                        &:hover{
                            color: @fontActiveColor;
                        }
                    }
                    &.active{
                        color: @fontActiveColor;
                        &:before{
                            position: absolute;
                            content: "";
                            left: 50%;
                            bottom: -11px;
                            width: 16px;
                            height: 3px;
                            margin-left: -8px;
                            background: @fontActiveColor;
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: @mediaWidth) {
        .user-avatar{
            width: 98%;
            margin: 0 auto;
            margin-top: 100px !important;
            .el-avatar{
                top: -30px !important;
            }
            .content{
                .header{
                    padding: 0;
                }
                padding-top: 80px;
                .nav{
                    width: 100%;
                }
            }
        }
    }
}