@import '../../../assets/less/base.less';
@import '../../../assets/less/common.less';

.authors{
    display: flex;
    align-items:center;
    margin-top: 15px;
    cursor: pointer;
    &:first-child{
        margin-top: 0;
    }
    .img{
        width: 40px;
        height: 40px;
        border-radius: 40px;
        line-height: 40px;
        text-align: center;
        background-color: @imgBgColor;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content{
        flex: 1;
        padding-left: 10px;
        .title{
            color: @fontMainColor;
            transition: all 0.3s;
            .ovf-num(1);
        }
        .description{
            font-size: 12px;
            margin-top: 7px;
        }
    }
    // hover
    &:hover{
        .content .title{
            color: @fontHoverColor;
        }
    }
}