.msg{
    &__content{
        .item{
            background: #fff;
            padding: 20px;
            border-top: 1px solid #f5f5f5;
        }
        .user,
        .article{
            color: #409EFF;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}