@import '../../../assets/less/base.less';
@import '../../../assets/less/common.less';

.msg{
    &__content{
        .item{
            background: @boxBgColor;
            padding: 20px;
            margin-bottom: 1px;
            display: flex;
            &-title{
                flex: 1;
                span{
                    margin-right: 10px;
                    line-height: 1.5;
                    display: inline-block;
                    vertical-align: middle;
                    &.user{
                        max-width: 120px;
                        .ovf-1();
                    }
                }
                i{
                    color: @fontColor;
                    margin-right: 5px;
                }
                .not-read{
                    color: @fontMainColor;
                }
            }
            &-menu{
                width: 60px;
                font-size: 0;
                text-align: right;
                span{
                    display: inline-block;
                    width: 30px;
                    font-size: 16px;
                    text-align: center;
                    cursor: pointer;
                    i{
                        color: @fontSubColor;
                        transition: all 0.3s;
                    }
                    &:hover{
                        i{
                            color: @fontActiveColor;
                        }
                    }
                }
            }
        }
        .user,
        .article{
            color: @fontActiveColor;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: @mediaWidth) {
    .msg__content .article{
        display: none !important;
    }
}