@containerWidth: 960px;
.layout{
    &__header{
        height: 60px;
        line-height: 60px;
        background: #333;
        color: #fff;
        &.fixed{
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 99;
        }
        &-inner{
            height: inherit;
            line-height: inherit;
            width: @containerWidth;
            margin: 0 auto;
            font-size: 0;
            >div{
                display: inline-block;
                margin-right: 40px;
                font-size: 14px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        &-logo{
            font-size: 0;
            cursor: pointer;
            margin-left: 0 !important;
            img{
                display: inline-block;
                width: 30px;
                height: 30px;
                vertical-align: middle;
            }
        }
        &-menu{
            font-size: 0;
            >div{
                display: inline-block;
                margin-left: 30px;
                font-size: 14px;
                cursor: pointer;
                &:first-child{
                    margin-left: 0;
                }
            }
        }
        &-search{
            input{
                border-width: 0;
                height: 24px;
                line-height: 24px;
                width: 180px;
                padding-left: 5px;
                color: #333;
                font-size: 12px;
                transition: all 0.3s;
                &:focus{
                    width: 200px;
                }
            }
        }
        &-login{
            float: right;
            font-size: 0;
            span{
                margin-left: 15px;
                font-size: 12px;
                cursor: pointer;
            }
            .el-dropdown{
                color: #fff;
            }
        }
    }
    &__content{
        width: @containerWidth;
        margin: 0 auto;
        &.header-fixed{
            margin-top: 60px;
        }
    }
    &__footer{
        width: @containerWidth;
        margin: 0 auto;
        line-height: 40px;
        height: 40px;
        text-align: center;
        border-top: 1px solid #eee;
    }
}