@import '../../../assets/less/base.less';
@import '../../../assets/less/common.less';

.topic{
    &__item{
        position: relative;
        padding: 15px;
        background: @boxBgColor;
        margin-bottom: 1px;
        &.has-img{
            padding-right: 190px;
            .topic__item-img{
                display: block;
            }
        }
        &:first-child{
            border-top-width: 1px;
        }
        &-menu{
            position: absolute;
            top: 5px;
            right: 0;
            font-size: 0;
            button{
                display: inline-block;
                padding: 5px 10px;
                border: 1px solid @borderColor;
                font-size: 14px;
                margin-right: 10px;
                cursor: pointer;
                transition: all 0.3s;
                border-radius: 20px;
                &:hover,
                &.active{
                    color: @fontActiveColor;
                }
                &[disabled]{
                    cursor: not-allowed;
                }
            }
        }
        &-header{
            font-size: 12px;
            padding-bottom: 10px;
            display: flex;
            align-items:center; /*垂直居中*/
            .name{
                max-width: 160px;
                padding: 0 10px;
                color: @fontSubColor;
                font-size: 14px;
                .ovf-1();
            }
            .time{
                flex: 1;
            }
            .img{
                width: 20px;
                height: 20px;
                border-radius: 20px;
                background-color: @imgBgColor;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .menu{
                cursor: pointer;
                color: @fontSubColor;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        &-title{
            padding-left: 30px;
            span{
                cursor: pointer;
                font-size: 16px;
                line-height: 1.5;
                color: @fontMainColor;
                transition: all 0.3s;
                &:hover{
                    color: @fontHoverColor;
                }
                // .ovf-1();
            }
        }
        &-description{
            padding-left: 30px;
            font-size: 12px;
            margin-top: 12px;
            .ovf-1();
        }
        &-img{
            display: none;
            position: absolute;
            top: 15px;
            right: 15px;
            width: 160px;
            height: 80px;
            overflow: hidden;
            background-color: @imgBgColor;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
        }
    }
}

@media (max-width: @mediaWidth) {
    .topic__item{
        &.has-img{
            padding-right: 100px;
        }
        &-img{
            width: 80px;

        }
    }
}