@import '../../../assets/less/common.less';
.topic{
    &__item{
        padding: 20px;
        border-top: 1px solid #f5f5f5;
        position: relative;
        &.has-img{
            padding-right: 200px;
            .topic__item-img{
                display: block;
            }
        }
        &:first-child{
            border-top-width: 1px;
        }
        &-header{
            font-size: 12px;
            color: #999;
            padding-bottom: 15px;
            span{
                margin-right: 10px;
            }
            .article-top{
                color: #539eff;
            }
        }
        &-title{
            span{
                cursor: pointer;
                font-size: 18px;
                font-weight: bold;
                line-height: 1.5;
                color: #333;
                transition: all 0.3s;
                &:hover{
                    color: #539eff;
                }
            }
        }
        &-img{
            display: none;
            position: absolute;
            top: 20px;
            right: 20px;
            width: 120px;
            height: 80px;
            overflow: hidden;
            text-align: center;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &-description{
            font-size: 12px;
            margin-top: 10px;
            line-height: 1.5;
            color: #aaa;
            .ovf-1();
        }
        &-action{
            font-size: 0;
            button{
                margin-top: 20px;
                display: inline-block;
                padding: 5px 10px;
                border: 1px solid #e5e5e5;
                font-size: 14px;
                color: #666;
                background: #fff;
                margin-right: -1px;
                cursor: pointer;
                transition: all 0.3s;
                &:hover,
                &.active{
                    color: #539eff;
                }
                &[disabled]{
                    cursor: not-allowed;
                    color: #999;
                }
            }
        }
    }
}