.follow-user{
    &__item{
        padding: 20px;
        border-top: 1px solid #f5f5f5;
        .name{
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
