@import '../../../assets/less/base.less';

.follow-topic{
    &__item{
        padding: 15px;
        margin-bottom: 1px;
        background: @boxBgColor;
        span{
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
            color: @fontMainColor;
        }
        .img{
            width: 50px;
            height: 30px;
            background: @imgBgColor;
            overflow: hidden;
            border-radius: 30px;
            margin-right: 10px;
            img{
                width: 100%;
            }
        }
        .name{
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
