.topic-write{
    width: 700px;
    padding-bottom: 30px;
    margin: 0px auto;
    .el-form{
        padding: 20px 20px 10px 20px;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background: #fff;
    }
    .avatar-uploader{
        height: 120px;
    }
    .avatar-uploader .el-upload {
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        background: #eee;
    }
    .avatar-uploader .el-upload:hover {
        background: #e5e5e5;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 180px;
        height: 120px;
        line-height: 120px;
        text-align: center;
    }
    .avatar {
        width: 180px;
        height: 120px;
        display: block;
    }
}