.topic-write{
    width: 700px;
    padding-bottom: 30px;
    margin: 0px auto;
    .el-form{
        padding: 10px 20px;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background: #fff;
    }
}