@import '../../../assets/less/base.less';

.el-dialog, .el-pager li{
    background: @boxBgColor !important;
}
.el-dialog__title{
    font-size: 16px;
    color: @fontSubColor;
}
.el-dialog__header{
    border-bottom: 1px solid @borderColor !important;
    padding: 15px;
}
.el-dialog__body{
    padding: 20px;
}
.el-form-item{
    &:last-child{
        margin-bottom: 10px;
    }
}

@media (max-width: @mediaWidth) {
    .el-dialog, .el-pager li{
        width: 96% !important;
    }
}