.breadcrumb{
    padding: 12px 0;
    span{
        margin-right: 5px;
        font-size: 12px;
        vertical-align: bottom;
        &:first-child{
            font-size: 14px;
            font-weight: bold;
        }
    }
}