.user-avatar{
    display: flex;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    .el-avatar{
        color: #d5d5d5;
        background: #f5f5f5;
        i{
            font-size: 40px;
        }
    }
    .content{
        flex: 1;
        margin-left: 20px;
        margin-right: 10px;
        .header{
            display: flex;
        }
        .name{
            flex: 1;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            color: #333;
            i{
                font-size: 12px;
                color: #ccc;
                margin-left: 20px;
                font-style: normal;
            }
        }
        .menu{
            padding-top: 8px;
            span{
                margin-left: 10px;
                cursor: pointer;
                display: inline-block;
                border: 1px solid #539eff;
                color: #539eff;
                padding: 8px;
                border-radius: 20px;
                text-align: center;
                font-size: 12px;
                transition: all 0.3s;
                i{font-style: normal;}
                &.default{
                    color: #bbb;
                    border-color: #f5f5f5;
                    &:hover{
                        color: #539eff;
                        border-color: #539eff;
                    }
                }
                &.active{
                    background: #539eff;
                    color: #fff;
                }
            }
        }
    }
    .count{
        display: flex;
        border-top: 1px solid #fafafa;
        padding-top: 8px;
        .list{
            flex: 1;
            color: #666;
            font-size: 14px;
            padding: 10px 4px;
            &.active>div:before{
                position: absolute;
                content: "";
                left: 50%;
                bottom: -12px;
                width: 10px;
                height: 3px;
                margin-left: -5px;
                background: #539eff;
            }
            &:hover,
            &.active{
                div{
                    color: #539eff;
                }
            }
            &>div{
                text-align: center;
                display: inline-block;
                position: relative;
                cursor: pointer;
                div{
                    line-height: 1.5;
                    transition: all 0.3s;
                    i{margin-right: 5px;}
                }
            }
        }
    }
}