.ql-container{
    font-size: 16px !important;
}
.ql-snow .ql-editor blockquote{
    margin-bottom: 15px !important;
}
.ql-editor{
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    li,
    blockquote,
    img,
    p,
    pre{
        margin-bottom: 15px !important;
    }
    img{
        max-width: 100% !important;
    }
    iframe{
        width: 100% !important;
        height: 360px !important;
        margin: 0 auto !important;
    }
    blockquote{
        border-left: 5px solid #e5e5e5 !important;
        padding: 20px !important;
        background: #fafafa !important;
    }
    pre{
        background: #2d2d2d !important;
        font-size: 14px !important;
        border-radius: 4px !important;
        padding: 20px !important;
        line-height: 1.6 !important;
    }
    ul,
    ol{
        list-style: disc !important;
    }
    ol{
        list-style: decimal !important;
    }
    a{
        color: #409EFF !important;
        &:hover{
            text-decoration: underline !important;
        }
    }
}
.quill-editor{
    background: #fff;
}
.ql-snow .ql-picker{
    line-height: 24px !important;
}
.ql-toolbar.ql-snow{
    padding: 0 !important;
}
.ql-container.ql-snow{
    /* height: calc(100% - 185px); */
    // height: 400px;
}
.ql-toolbar.ql-snow .ql-formats{
    margin-right: 0 !important;
}
.ql-container.ql-snow{
    border-width: 0 !important;
}
.ql-toolbar.ql-snow{
    border-color: #f5f5f5 !important;
    border-width: 0 !important;
    border-bottom-width: 1px !important;
    padding: 5px 8px !important;
    padding-top: 0 !important;
}
.ql-editor.ql-blank::before{
    font-style: normal !important;
}