.article-detail{
    &__title{
        line-height: 1.4;
        padding-bottom: 20px;
        font-size: 24px;
        span{
            font-size: 12px;
            color: #409EFF;
            padding-left: 20px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__info{
        font-size: 12px;
        color: #999;
        padding-bottom: 20px;
        span{
            margin-right: 10px;
        }
    }
    &__content{
        line-height: 1.8;
        font-size: 16px;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        ul,
        ol,
        blockquote,
        img,
        p,
        pre{
            margin-bottom: 20px;
        }
        blockquote{
            border-left: 5px solid #e5e5e5;
            padding: 20px;
            background: #fafafa;
        }
        pre{
            background: #fafafa;
            border-radius: 4px;
            padding: 20px;
            font-size: 13px;
        }
        ul,
        ol{
            margin-left: 20px;
        }
        a{
            color: #409EFF;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}