@import '../../../assets/less/common.less';
.article-recommend{
    padding: 10px 0;
    line-height: 1.5;
    border-top: 1px solid #f9f9f9;
    transition: all 0.3s;
    color: #343434;
    &:first-child{
        border-top-width: 0;
        padding-top: 0;
    }
    &:last-child{
        padding-bottom: 0;
    }
    .list{
        transition: all 0.3s;
        cursor: pointer;
        .ovf-1();
    }
    &:hover{
        .list{
            color: #539eff;
        }
    }
}